div#main {
	margin-top: 100px;
}
#busImg, #busImg img {
	position: relative;
	width: 200px;
	margin-bottom: -18px;
}
#busImg {
	left:20px;
}
#busWrapper {
	border-bottom: 10px solid #006064; 
}
.footer {
	background-image: url("../img/people.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: center right;
}
.favButton div, .rightColButton div {
	border-radius: 5px;
	text-align: center;
}

.row {

	padding: 20px;
}

body, .form-control {
	font-size: 18px;
}

.navbar-inverse .navbar-brand {
	font-size: 1.8em;
	color: white;
}

.input-group, .space {
	margin: 0px 0px 20px 5px;
}

#newdiv {
	height: 300px;
	background: #eeeeee;
	border-radius: 5px;
	text-align: center;
}

#newdiv:hover {
	
}

#newdiv:hover #plusgl {
	font-size: 180px;
	line-height: 300px;
}

#plusgl {
	 -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
	font-size: 100px;
	line-height: 300px;
	color: #006064;
}

.favButton>div {
	width: 100%;
	background-color: #eeeeee;
	margin-bottom: 15px;

}

body a {
	color: black;
}

.favButton:hover, .rightColButton:hover {
	background-color: #006064;
	text-decoration: none;
	color: #eeeeee;
}

.favTitle {
	padding: 5px;
	background-color: #006064;
	color: white;
}

.favContent {
	padding: 5px;
	
}

.navbar {
	min-height: 100px;
}

.navbar div.container {
	margin-top:25px;
}
.rightColButton>div {
	width: 100%;
	background-color: #eeeeee;
	margin-bottom: 15px;
	height: 100px;

   
}

.rightColButton>div:hover, .favButton>div:hover {
	background-color: #006064;
	color: #eeeeee;

}

.rightColContent {
	padding-left: 10px;
	
	font-size: xx-large;
	line-height: 100px;
}