div#main {
	margin-top: 50px;
}

.navbar-inverse .navbar-brand {
	font-size: 1.8em;
	color: white;
}

#newdiv {
	height: 300px;
	background: lightgrey;
	border-radius: 5px;
	text-align: center;
}

#newdiv:hover {
	background: darkgreen;
}

#plusgl {
	font-size: 100px;
	line-height: 300px;
	color: darkgreen;
}

.favButton>div {
	width: 100%;
	background-color: lightgrey;
	margin-bottom: 15px;
}

.favButton:hover, .rightColButton:hover {
	background-color: darkgreen;
	text-decoration: none;
}

.favTitle {
	padding: 5px;
	background-color: darkgreen;
	color: white;
}

.favContent {
	padding: 5px;
	color: black;
}

.rightColButton>div {
	width: 100%;
	background-color: lightgrey;
	margin-bottom: 15px;
	height: 100px;
}

.rightColButton>div:hover, .favButton>div:hover {
	background-color: darkgreen;
}

.rightColContent {
	padding-left: 10px;
	color: black;
	font-size: xx-large;
	line-height: 100px;
}